@import url("https://fonts.googleapis.com/css?family=Quicksand:700&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,&display=swap&subset=cyrillic-ext");

@font-face {
	font-family: "arial";
	font-display: swap;
	src: url("../fonts/arial.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Fontfabric";
	font-display: swap;
	src: url("../fonts/Fontfabric-NexaRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica";
	font-display: swap;
	src: url("../fonts/HelveticaNeue Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nexa-Black";
	font-display: swap;
	src: url("../fonts/Nexa-Black.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nexa";
	font-display: swap;
	src: url("../fonts/Nexa-Bold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Nexa";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Nexa";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	max-width: 1550px;
	margin: 0px auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

._container {
	max-width: 1005px;
	margin: 0 auto;
	padding: 0px 10px;
}

/*
@media (max-width: $md1+px) {
	max-width: 970px;
}
@media (max-width: $md2+px) {
	max-width: 750px;
}
@media (max-width: $md3+px) {
	max-width: none;
	padding: 0 10px;
}
*/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	position: relative;
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 15px 49px 15px 19px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	color: #959595;
	font-family: "Nexa";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.12px;
	min-width: 299px;
}

.input._focus {
	color: #000;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

body.ie ._ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

body.ie ._ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.mainslider__box ._ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

._swiper {
	overflow: hidden;
}

._swiper > div {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

._swiper.swiper-container-autoheight > div {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
	display: none !important;
}

.header {
	background-color: #ededed;
}

.header__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 41px 0px 35px 0px;
}

.header__column:first-child {
	background-image: url("../img/header/top/01.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.header__column:last-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__title {
	color: #6017a3;
	font-family: "Nexa-Black";
	font-size: 39px;
	font-weight: 400;
	line-height: 32.03px;
	margin: 0px 0px 6px 0px;
	padding: 0px 0px 0px 58px;
}

.header__subtitle {
	text-shadow: 0 1px 0 #ffffff;
	color: #7d7d7d;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.3px;
	padding: 0px 0px 0px 58px;
}

.header__navigation {
	position: relative;
	background-image: url("../img/header/top/02.svg");
	background-repeat: no-repeat;
	background-position: right 50%;
	padding: 7px 21px 7px 16px;
	margin: 0px 16px 0px 0px;
}

.header__navigation a {
	text-shadow: 0 1px 0 #ffffff;
	color: #d5d5d5;
	font-family: Nexa;
	font-size: 12px;
	font-weight: 700;
	position: relative;
}

.header__navigation a:after {
	content: "";
	position: absolute;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: #9e2fc4;
	bottom: 0;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.header__dropdown {
	border-left: 1px solid #c7c7c7;
	text-shadow: 0 1px 0 #ffffff;
	font-family: Nexa;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.12px;
}

.search-header__input {
	position: relative;
}

.search-header__image {
	position: absolute;
	top: 25%;
	right: 13px;
}

.search-header__image img {
	width: 23px;
	height: 23px;
}

.dropdown {
	text-shadow: 0 1px 0 #ffffff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.12px;
	padding: 6px 23px 6px 16px;
	position: relative;
	z-index: 2;
}

.dropdown li {
	position: relative;
	margin: -4px 0px 0px 0px;
}

.dropdown__link {
	color: #58159b;
}

body._mouse .dropdown__list:hover .sub-dropdown__list {
	display: block;
}

body._touch .sub-dropdown__list._active {
	display: block;
}

.sub-dropdown__list {
	position: absolute;
	top: 15px;
	width: 103%;
	padding: 10px 0px 0px 0px;
	display: none;
}

.sub-dropdown__list li {
	background-image: -o-linear-gradient(132deg, #9c69c9 0%, #701dbb 100%);
	background-image: linear-gradient(-42deg, #9c69c9 0%, #701dbb 100%);
	padding: 0px 10px 0px 10px;
}

.sub-dropdown__list li:first-child {
	padding: 10px 10px 0px 10px;
}

.sub-dropdown__list li:last-child {
	padding: 0px 10px 0px 10px;
}

.sub-dropdown__link {
	display: inline-block;
	margin: 0px 0px 10px 0px;
	color: #312b2b;
	text-shadow: none;
}

.icon-menu {
	display: none;
}

.header-menu {
	position: relative;
	z-index: 1;
}

.header-menu__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-menu__list {
	position: relative;
	-webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.16);
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.16);
	-webkit-box-flex: 0;
	-ms-flex: 0 1 16.666%;
	flex: 0 1 16.666%;
	padding: 0px 5px;
	text-align: center;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#ffffff));
	background-image: -o-linear-gradient(bottom, #d7d7d7 0%, #ffffff 100%);
	background-image: linear-gradient(to top, #d7d7d7 0%, #ffffff 100%);
}

.header-menu__list_1 {
	margin: 0px 0px 0px 0px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_1 li {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_2 {
	margin: 0px 0px 0px 0px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_2 li {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_3 {
	margin: 0px 0px 0px 0px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_3 li {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_4 {
	margin: 0px 0px 0px 0px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_4 li {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_5 {
	margin: 0px 0px 0px 0px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_5 li {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_6 {
	margin: 0px 0px 0px 0px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__list_6 li {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-menu__link {
	text-shadow: 0 1px 0 #ffffff;
	color: #707070;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	display: inline-block;
	margin: 62px 0px 33px 0px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

footer {
	background-color: #373737;
}

.footer {
	position: relative;
}

.footer:before {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	padding: 0px 0px 5px 0px;
	background-color: #7438ac;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.footer__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 34px -41.5px 48px -41.5px;
	margin-top: 36px;
	margin-bottom: 48px;
}

.footer__column {
	padding: 0px 41.5px;
}

.footer__column:first-child {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
}

.footer__column:last-child {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
}

.footer__box {
	position: relative;
	margin: 0px 0px 36px 0px;
	margin-bottom: 36px;
}

.footer__title {
	color: #f3e8e8;
	font-family: "Nexa-Black";
	font-size: 39px;
	font-weight: 400;
	line-height: 32.03px;
	margin: 0px 0px 6px 0px;
	padding: 0px 0px 0px 58px;
	max-width: 386px;
	font-size: 39px;
	margin-bottom: 6px;
	padding-left: 58px;
}

.footer__subtitle {
	color: #7d7d7d;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.3px;
	padding: 0px 0px 0px 58px;
	padding-left: 58px;
}

.footer__text {
	color: #ffffff;
	font-family: "Helvetica";
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 34px;
}

.contacts {
	margin-bottom: 59px;
}

.contacts__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.contacts__list li {
	padding: 0px 20px;
	border-right: 1.5px solid #707070;
	padding-right: 20px;
	padding-left: 20px;
}

.contacts__list li:first-child {
	padding-left: 0px;
}

.contacts__list li:last-child {
	padding-right: 0px;
	border-right: none;
}

.contacts__link {
	color: #ffffff;
	font-family: "Nexa";
	font-size: 12px;
	font-weight: 700;
	position: relative;
}

.contacts__link:after {
	content: "";
	position: absolute;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #9e2fc4;
	bottom: -3px;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.social__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social__list li {
	padding: 0px 20px 0 0;
}

.social__link {
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 12px;
	font-weight: 700;
}

.social__link:after {
	content: "";
	position: absolute;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.bottom-footer__item {
	margin: 0px 0px 23px 0px;
	margin-bottom: 23px;
}

.bottom-footer__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.bottom-footer__list li {
	padding: 0px 18px 0px 0px;
}

.bottom-footer__list li:last-child {
	padding: 0px 0px 0px 0px;
}

.bottom-footer__link {
	color: #ffffff;
	font-family: "Helvetica";
	font-size: 14px;
	line-height: 20px;
	position: relative;
}

.bottom-footer__link:after {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #9f2fc4af;
	bottom: -2px;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.bottom-footer__text {
	color: #7e7e7e;
	font-family: "Helvetica";
	font-size: 12px;
	line-height: 20px;
}

.page {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.background__body {
	margin: -13px 0px 0px 0px;
	display: block;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.background__icon {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 2;
	background-image: url("../img/content_top/02.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
}

.background__icon img {
	background-image: url("../img/content_top/Ellipse_2.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto auto;
	padding: 41px 44px 41px 41px;
}

.background__image {
	padding: 0px 0px 34.84% 0px;
}

.information {
	background-color: #2d2d2d;
}

.information__body {
	padding: 51px 0px 0px 0px;
}

.information__item {
	padding: 0px 0px 102px 0px;
	padding-bottom: 102px;
}

.information__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -14px;
}

.information__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 33.333%;
	flex: 0 1 33.333%;
	padding: 0px 14px;
}

.information__column:nth-child(3) .information__icon:before {
	content: "";
	display: none;
}

.information__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0px 0px 51px 0px;
	height: 76px;
	position: relative;
}

.information__icon img {
	display: block;
}

.information__icon:first-child:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 35px;
	right: -84px;
	background-color: #6d6d6d;
	max-width: 140px;
	height: 3px;
}

.information__title {
	color: #ffffff;
	font-family: "Nexa";
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.6px;
	margin: 0px 0px 22px 0px;
	font-size: 24px;
}

.information__text {
	color: #ffffff;
	font-family: "arial";
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.3px;
}

.content-information {
	text-align: center;
}

.content-information__title {
	color: #ffffff;
	font-family: "Nexa";
	font-size: 36px;
	letter-spacing: 0.9px;
	margin: 0px 0px 3px 0px;
	font-size: 36px;
}

.content-information__subtitle {
	color: #a161db;
	font-family: Nexa;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.35px;
	margin: 0px 0px 30px 0px;
	font-size: 14px;
}

.content-information__picture {
	position: relative;
}

.content-information__image {
	padding: 0px 0px 20.999% 0%;
	margin: 0px 0px 19px 0px;
}

.siction:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #1e1e1e;
	max-width: 1549px;
}

.siction__body {
	padding: 54px 0px 0px 0px;
	background-color: #222222;
	padding-top: 54px;
}

.siction__content {
	position: relative;
	padding: 0px 0px 468px 0px;
	max-width: 1255px;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0px, 0px);
	transform: translate3d(-50%, 0px, 0px);
}

.siction__image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.siction__box {
	position: absolute;
	width: 100%;
	bottom: 88px;
	left: 0;
	z-index: 1;
	bottom: 88px;
}

.siction__title {
	text-shadow: 0 1px 1px #000000;
	color: #ffffff;
	font-family: "Nexa";
	letter-spacing: 0.9px;
	text-align: center;
	line-height: 40px;
	max-width: 1048px;
	margin: 0px auto 16px;
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 16px;
	max-width: 1048px;
}

.siction__subtitle {
	text-shadow: 0 1px 1px #000000;
	color: #a161db;
	font-family: "Nexa";
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.35px;
	text-align: center;
	max-width: 1048px;
	margin: 0px auto;
	font-size: 14px;
	max-width: 1048px;
	line-height: 24px;
}

.page__team {
	background-color: #ebebeb;
}

.team__content {
	padding: 81px 0px 0px 0px;
	text-align: center;
	margin: 0px 0px 31px 0px;
	padding-top: 81px;
	margin-bottom: 31px;
	position: relative;
}

.team__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.team__image {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	position: relative;
	padding: 0px 0px 2px 0px;
	height: 2px;
}

.team__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 0;
}

.team__title {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 450px;
	flex: 0 0 450px;
	text-shadow: 0 1px 0 #ffffff;
	color: #717171;
	font-family: "Nexa";
	font-size: 36px;
	line-height: 38px;
	letter-spacing: 0.9px;
	font-size: 36px;
	line-height: 38px;
}

.team__subtitle {
	text-shadow: 0 1px 0 #ffffff;
	color: #717171;
	font-family: "Nexa";
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.35px;
}

.team__slider {
	margin: 0px 0px 36px 0px;
	margin-bottom: 36px;
}

.mainslider__body {
	margin: 0px -8px 66px -8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	margin-bottom: 66px;
	margin-right: -8px;
	margin-left: -8px;
}

.mainslider__slide {
	padding: 0px 8px;
	padding-right: 8px;
	padding-left: 8px;
}

.mainslider__box {
	background-image: url("../img/team/002.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px 0px 99% 0px;
	position: relative;
	margin-bottom: 15px;
}

.mainslider__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0px);
	transform: translate3d(-50%, -50%, 0px);
	max-width: 220px;
	max-height: 210px;
	border: 5px solid #ffffff;
}

.mainslider a {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	background-color: #8f33c4;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.mainslider a img {
	position: relative;
	width: 26px;
	height: 18px;
	width: 26px;
	height: 18px;
}

.mainslider__name {
	text-shadow: 0 1px 0 #ffffff;
	color: #7b7b7b;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.45px;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 8px;
	margin-left: 6px;
}

.mainslider__specialty {
	text-shadow: 0 1px 0 #ffffff;
	color: #7b7b7b;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
	margin: 0px 0px 0px 6px;
	margin-left: 6px;
}

.mainslider .swiper-pagination .swiper-pagination-bullet {
	margin: 0px 0px 0px 7px;
	border-radius: 25px;
	width: 15px;
	height: 15px;
	line-height: 20px;
	font-size: 14px;
	background-color: #504c4c;
	width: 15px;
	height: 15px;
}

.mainslider .swiper-pagination .swiper-pagination-bullet:first-child {
	margin: 0px 0px 0px 0px;
}

.mainslider .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #8f33c4;
}

.aside__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0px -10px;
	padding: 0px 0px 34px 0px;
	padding-bottom: 34px;
}

.aside__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	padding: 0px 10px 20px;
	padding-bottom: 20px;
}

.aside__column:last-child {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	padding-bottom: 0;
}

.aside__column:last-child .aside__icon {
	display: none;
}

.aside__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	padding: 60px 50px 96px;
	background-color: #757272;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	position: relative;
	padding-top: 60px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 96px;
}

.aside__title {
	color: #252525;
	font-family: "Nexa";
	font-size: 30px;
	font-weight: 700;
	line-height: 34px;
	margin: 0px 0px 13px 0px;
	font-size: 30px;
	margin-bottom: 13px;
}

.aside__text {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	color: #b6b1b1;
	font-family: "Arial";
	font-size: 12px;
	font-weight: 400;
	line-height: 25px;
}

.aside__text span {
	display: inline-block;
	color: #7125b8;
	font-family: "Nexa";
	font-size: 14px;
	line-height: 22px;
	margin: 0px 0px 28px 0px;
	margin-bottom: 28px;
}

@media (min-width: 767.98px) {
	.background__icon:hover {
		opacity: 1;
	}
}

@media (min-width: 991.98px) {
	.dropdown__link:hover {
		cursor: pointer;
	}

	.header-menu__list_1:hover {
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		margin: -11px 0px 0px 0px;
		position: relative;
		z-index: 2;
	}

	.header-menu__list_1:hover li:first-child {
		margin: 11px 0px 0px 0px;
	}

	.header-menu__list_1:hover:after {
		content: "";
		padding: 0px 0px 13px 0px;
	}

	.header-menu__list_1:after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		padding: 0px 0px 5px 0px;
		background-color: #6017a3;
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header-menu__list_2:hover {
		-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		position: relative;
		z-index: 2;
		margin: -11px 0px 0px 0px;
	}

	.header-menu__list_2:hover li:first-child {
		margin: 11px 0px 0px 0px;
	}

	.header-menu__list_2:hover:after {
		content: "";
		padding: 0px 0px 13px 0px;
	}

	.header-menu__list_2:after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		padding: 0px 0px 5px 0px;
		background-color: #701dbb;
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header-menu__list_3:hover {
		-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		position: relative;
		z-index: 2;
		margin: -11px 0px 0px 0px;
	}

	.header-menu__list_3:hover li:first-child {
		margin: 11px 0px 0px 0px;
	}

	.header-menu__list_3:hover:after {
		content: "";
		padding: 0px 0px 13px 0px;
	}

	.header-menu__list_3:after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		padding: 0px 0px 5px 0px;
		background-color: #8038c2;
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header-menu__list_4:hover {
		-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		position: relative;
		z-index: 2;
		margin: -11px 0px 0px 0px;
	}

	.header-menu__list_4:hover li:first-child {
		margin: 11px 0px 0px 0px;
	}

	.header-menu__list_4:hover:after {
		content: "";
		padding: 0px 0px 13px 0px;
	}

	.header-menu__list_4:after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		padding: 0px 0px 5px 0px;
		background-color: #a34ff0;
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header-menu__list_5:hover {
		-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		position: relative;
		z-index: 2;
		margin: -11px 0px 0px 0px;
	}

	.header-menu__list_5:hover li:first-child {
		margin: 11px 0px 0px 0px;
	}

	.header-menu__list_5:hover:after {
		content: "";
		padding: 0px 0px 13px 0px;
	}

	.header-menu__list_5:after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		padding: 0px 0px 5px 0px;
		background-color: #8038c2;
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header-menu__list_6:hover {
		-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
		position: relative;
		z-index: 2;
		margin: -11px 0px 0px 0px;
	}

	.header-menu__list_6:hover li:first-child {
		margin: 11px 0px 0px 0px;
	}

	.header-menu__list_6:hover:after {
		content: "";
		padding: 0px 0px 13px 0px;
	}

	.header-menu__list_6:after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		padding: 0px 0px 5px 0px;
		background-color: #701dbb;
		-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}

@media (min-width: 992px) {
	.header__navigation:hover {
		color: #007397;
	}

	.header__navigation:hover a:after {
		left: 0;
		width: 100%;
	}

	.contacts__link:hover {
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
		color: #007397;
	}

	.contacts__link:hover:after {
		left: 0;
		width: 100%;
	}

	.social__link:hover {
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
		color: #007397;
	}

	.bottom-footer__link:hover {
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
		color: #007497;
	}

	.bottom-footer__link:hover:after {
		width: 100%;
	}
}

@media (max-width: 1255px) {
	.siction__content {
		padding: 0px 0px 37.29% 0px;
	}

	.siction__box {
		bottom: calc(4px + 84 * ((100vw - 320px) / 935));
	}
}

@media (max-width: 1005px) {
	.footer__top {
		margin-top: calc(15px + 21 * ((100vw - 320px) / 685));
	}

	.footer__top {
		margin-bottom: calc(13px + 35 * ((100vw - 320px) / 685));
	}

	.footer__box {
		margin-bottom: calc(13px + 23 * ((100vw - 320px) / 685));
	}

	.footer__title {
		max-width: calc(301px + 85 * ((100vw - 320px) / 685));
	}

	.footer__title {
		font-size: calc(33px + 6 * ((100vw - 320px) / 685));
	}

	.footer__title {
		margin-bottom: calc(4px + 2 * ((100vw - 320px) / 685));
	}

	.footer__title {
		padding-left: calc(49px + 9 * ((100vw - 320px) / 685));
	}

	.footer__subtitle {
		padding-left: calc(49px + 9 * ((100vw - 320px) / 685));
	}

	.contacts {
		margin-bottom: calc(14px + 45 * ((100vw - 320px) / 685));
	}

	.contacts__list li {
		padding-right: calc(9px + 11 * ((100vw - 320px) / 685));
	}

	.contacts__list li {
		padding-left: calc(9px + 11 * ((100vw - 320px) / 685));
	}

	.bottom-footer__item {
		margin-bottom: calc(10px + 13 * ((100vw - 320px) / 685));
	}

	.information__item {
		padding-bottom: calc(2px + 100 * ((100vw - 320px) / 685));
	}

	.information__title {
		font-size: calc(18px + 6 * ((100vw - 320px) / 685));
	}

	.content-information__title {
		font-size: calc(20px + 16 * ((100vw - 320px) / 685));
	}

	.content-information__subtitle {
		font-size: calc(12px + 2 * ((100vw - 320px) / 685));
	}

	.siction__body {
		padding-top: calc(12px + 42 * ((100vw - 320px) / 685));
	}

	.siction__title {
		font-size: calc(14px + 22 * ((100vw - 320px) / 685));
	}

	.siction__title {
		line-height: calc(16px + 24 * ((100vw - 320px) / 685));
	}

	.siction__title {
		margin-bottom: calc(3px + 13 * ((100vw - 320px) / 685));
	}

	.siction__title {
		max-width: calc(279px + 769 * ((100vw - 320px) / 685));
	}

	.siction__subtitle {
		font-size: calc(12px + 2 * ((100vw - 320px) / 685));
	}

	.siction__subtitle {
		max-width: calc(279px + 769 * ((100vw - 320px) / 685));
	}

	.siction__subtitle {
		line-height: calc(16px + 8 * ((100vw - 320px) / 685));
	}

	.team__content {
		padding-top: calc(15px + 66 * ((100vw - 320px) / 685));
	}

	.team__content {
		margin-bottom: calc(13px + 18 * ((100vw - 320px) / 685));
	}

	.team__title {
		font-size: calc(18px + 18 * ((100vw - 320px) / 685));
	}

	.team__title {
		line-height: calc(22px + 16 * ((100vw - 320px) / 685));
	}

	.team__slider {
		margin-bottom: calc(0px + 36 * ((100vw - 320px) / 685));
	}

	.mainslider__body {
		margin-bottom: calc(38px + 28 * ((100vw - 320px) / 685));
	}

	.mainslider__body {
		margin-right: calc(-3px + -5 * ((100vw - 320px) / 685));
	}

	.mainslider__body {
		margin-left: calc(-3px + -5 * ((100vw - 320px) / 685));
	}

	.mainslider__slide {
		padding-right: calc(3px + 5 * ((100vw - 320px) / 685));
	}

	.mainslider__slide {
		padding-left: calc(3px + 5 * ((100vw - 320px) / 685));
	}

	.mainslider__box {
		margin-bottom: calc(8px + 7 * ((100vw - 320px) / 685));
	}

	.mainslider a {
		padding-top: calc(5px + 5 * ((100vw - 320px) / 685));
	}

	.mainslider a {
		padding-left: calc(5px + 5 * ((100vw - 320px) / 685));
	}

	.mainslider a {
		padding-bottom: calc(3px + 7 * ((100vw - 320px) / 685));
	}

	.mainslider a {
		padding-right: calc(3px + 7 * ((100vw - 320px) / 685));
	}

	.mainslider a img {
		width: calc(22px + 4 * ((100vw - 320px) / 685));
	}

	.mainslider a img {
		height: calc(16px + 2 * ((100vw - 320px) / 685));
	}

	.mainslider__name {
		font-size: calc(15px + 3 * ((100vw - 320px) / 685));
	}

	.mainslider__name {
		line-height: calc(18px + 4 * ((100vw - 320px) / 685));
	}

	.mainslider__name {
		margin-bottom: calc(6px + 2 * ((100vw - 320px) / 685));
	}

	.mainslider__name {
		margin-left: calc(1px + 5 * ((100vw - 320px) / 685));
	}

	.mainslider__specialty {
		margin-left: calc(1px + 5 * ((100vw - 320px) / 685));
	}

	.mainslider .swiper-pagination .swiper-pagination-bullet {
		width: calc(10px + 5 * ((100vw - 320px) / 685));
	}

	.mainslider .swiper-pagination .swiper-pagination-bullet {
		height: calc(10px + 5 * ((100vw - 320px) / 685));
	}

	.aside__row {
		padding-bottom: calc(15px + 19 * ((100vw - 320px) / 685));
	}

	.aside__column {
		padding-bottom: calc(12px + 8 * ((100vw - 320px) / 685));
	}

	.aside__item {
		padding-top: calc(24px + 36 * ((100vw - 320px) / 685));
	}

	.aside__item {
		padding-right: calc(10px + 40 * ((100vw - 320px) / 685));
	}

	.aside__item {
		padding-left: calc(10px + 40 * ((100vw - 320px) / 685));
	}

	.aside__item {
		padding-bottom: calc(10px + 86 * ((100vw - 320px) / 685));
	}

	.aside__title {
		font-size: calc(24px + 6 * ((100vw - 320px) / 685));
	}

	.aside__title {
		margin-bottom: calc(5px + 8 * ((100vw - 320px) / 685));
	}

	.aside__text span {
		margin-bottom: calc(8px + 20 * ((100vw - 320px) / 685));
	}
}

@media (max-width: 991.98px) {
	.input {
		min-width: 150px;
		padding: 13px 49px 13px 19px;
	}

	.header__top {
		margin: 17px 0px 30px 0px;
	}

	.header__navigation {
		margin: 0px 10px 0px 0px;
	}

	.search-header__image {
		top: 22%;
		right: 14px;
	}

	.dropdown {
		padding: 6px 13px 6px 10px;
	}

	.header-menu__list {
		border-right: 1px solid #d4d4d4;
	}

	.header-menu__list:last-child {
		border-right: none;
	}

	.header-menu__link {
		margin: 53px 0px 18px 0px;
		color: #701dbb;
	}

	.background__icon img {
		background-position: 47% 50%;
		background-size: 120px 120px;
	}

	.information__body {
		padding: 36px 0px 0px 0px;
	}

	.information__row {
		margin: 0px -10px;
	}

	.information__column {
		padding: 0px 10px;
	}

	.information__icon {
		margin: 0px 0px 30px 0px;
	}

	.information__icon:first-child:before {
		right: -58px;
		max-width: 100px;
	}

	.information__title {
		margin: 0px 0px 17px 0px;
	}

	.content-information__subtitle {
		margin: 0px 0px 20px 0px;
	}

	.content-information__image {
		margin: 0px 0px 14px 0px;
	}
}

@media (max-width: 891px) {
	.header__subtitle {
		max-width: 180px;
	}
}

@media (max-width: 767.98px) {
	.input {
		margin: 0px 0px 5px 0px;
		min-width: 232px;
		-webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.16);
		box-shadow: 0 5px 2px rgba(0, 0, 0, 0.16);
		background-color: #efefef;
		padding: 10px 36px 10px 19px;
	}

	.header {
		position: fixed;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 50;
		height: 50px;
	}

	.header__top {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 8px 0px 35px 0px;
	}

	.header__column:first-child {
		background-size: 28px 30px;
		background-position: 0 15%;
		position: relative;
		z-index: 2;
	}

	.header__title {
		padding: 0px 0px 0px 34px;
		margin: 5px 0px 0px 0px;
	}

	.header__subtitle {
		max-width: none;
		display: none;
	}

	.header__navigation {
		display: none;
	}

	.header__dropdown {
		border-left: none;
		display: none;
	}

	.search-header__image {
		top: 14.5%;
		right: 7px;
	}

	.dropdown {
		padding: 6px 23px 6px 0px;
	}

	.icon-menu {
		display: block;
		position: absolute;
		top: 15px;
		left: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}

	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #333;
	}

	.icon-menu span:first-child {
		top: 0px;
	}

	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}

	.icon-menu._active span {
		background-color: #c7c1c1;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	.icon-menu._active span:first-child {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}

	.icon-menu._active span:last-child {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}

	.header-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		background-color: rgba(61, 58, 58, 0.734);
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header-menu:after {
		content: "";
		background-color: #ededed;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
	}

	.header-menu._active {
		opacity: 1;
		visibility: visible;
	}

	.header-menu._active .header-menu__list:nth-child(2) {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	.header-menu._active .header-menu__list:nth-child(3) {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	.header-menu._active .header-menu__list:nth-child(4) {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	.header-menu._active .header-menu__list:nth-child(5) {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	.header-menu._active .header-menu__list:nth-child(6) {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	.header-menu._active .header-menu__list:nth-child(7) {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		visibility: visible;
	}

	.header-menu._active .header__search {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}

	.header-menu .header__search {
		-webkit-transform: translate3d(0px, -80px, 0px);
		transform: translate3d(0px, -80px, 0px);
		-webkit-transition: all 0.3s ease 0.08s;
		-o-transition: all 0.3s ease 0.08s;
		transition: all 0.3s ease 0.08s;
	}

	.header-menu .header-menu__list:nth-child(2) {
		-webkit-transform: translate3d(-150px, 0px, 0px);
		transform: translate3d(-150px, 0px, 0px);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0.1s;
		-o-transition: all 0.3s ease 0.1s;
		transition: all 0.3s ease 0.1s;
	}

	.header-menu .header-menu__list:nth-child(3) {
		-webkit-transform: translate3d(150px, 0px, 0px);
		transform: translate3d(150px, 0px, 0px);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0.1s;
		-o-transition: all 0.3s ease 0.1s;
		transition: all 0.3s ease 0.1s;
	}

	.header-menu .header-menu__list:nth-child(4) {
		-webkit-transform: translate3d(-150px, 0px, 0px);
		transform: translate3d(-150px, 0px, 0px);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0.25s;
		-o-transition: all 0.3s ease 0.25s;
		transition: all 0.3s ease 0.25s;
	}

	.header-menu .header-menu__list:nth-child(5) {
		-webkit-transform: translate3d(150px, 0px, 0px);
		transform: translate3d(150px, 0px, 0px);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0.25s;
		-o-transition: all 0.3s ease 0.25s;
		transition: all 0.3s ease 0.25s;
	}

	.header-menu .header-menu__list:nth-child(6) {
		-webkit-transform: translate3d(-150px, 0px, 0px);
		transform: translate3d(-150px, 0px, 0px);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0.4s;
		-o-transition: all 0.3s ease 0.4s;
		transition: all 0.3s ease 0.4s;
	}

	.header-menu .header-menu__list:nth-child(7) {
		-webkit-transform: translate3d(150px, 0px, 0px);
		transform: translate3d(150px, 0px, 0px);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease 0.4s;
		-o-transition: all 0.3s ease 0.4s;
		transition: all 0.3s ease 0.4s;
	}

	.header-menu__bottom {
		margin: 76px 0px 0px 0px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		max-width: 300px;
		max-height: 248px;
	}

	.header-menu__bottom {
		margin-top: 76px;
	}

	.header-menu__list {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 111px;
		margin: 5px 5px 5px 5px;
		-ms-flex-item-align: start;
		-ms-grid-row-align: start;
		align-self: start;
	}

	.header-menu__link {
		margin: 38px 0px 6px 0px;
		color: #701dbb;
	}

	.footer__column {
		padding: 0px 41.5px;
	}

	.footer__column:last-child {
		display: none;
	}

	.footer__text {
		margin-bottom: calc(11px + 23 * ((100vw - 320px) / 447.98));
	}

	.page {
		margin: 50px 0px 0px 0px;
	}

	.information__body {
		padding: 14px 0px 0px 0px;
	}

	.information__row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.information__column {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 50%;
		flex: 0 1 50%;
		margin: 0px 0px 7px 0px;
	}

	.information__column:last-child {
		margin: 0px 0px 0px 0px;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 75%;
		flex: 0 1 75%;
	}

	.information__column:nth-child(2) .information__icon img {
		width: 66px;
		height: 43px;
	}

	.information__column:nth-child(2) .information__icon:before {
		content: "";
		display: none;
	}

	.information__icon {
		height: 66px;
		margin: 0px 0px 7px 0px;
	}

	.information__icon img {
		width: 55px;
		height: 55px;
	}

	.information__icon:first-child:before {
		top: 31px;
	}

	.information__title {
		margin: 0px 0px 4px 0px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}

	.information__text {
		text-align: center;
	}

	.content-information__subtitle {
		margin: 0px 0px 12px 0px;
	}

	.content-information__image {
		margin: 0px 0px 8px 0px;
	}

	.mainslider a {
		border-radius: 20px 0 0 0;
	}

	.aside__column {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}
}

@media (max-width: 600px) {
	.team__title {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 326px;
		flex: 0 0 326px;
	}
}

@media (max-width: 479px) {
	.footer__text {
		text-align: center;
	}
}

@media (max-width: 479.98px) {
	.information__body {
		padding: 10px 0px 8px 0px;
	}

	.information__column {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}

	.information__column:last-child {
		margin: 0px 0px 0px 0px;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}

	.information__column:nth-child(1) .information__icon img {
		width: 44px;
		height: 44px;
	}

	.information__column:nth-child(1) .information__icon:before {
		content: "";
		display: none;
	}

	.information__column:nth-child(2) .information__icon img {
		width: 54px;
		height: 33px;
	}

	.information__column:nth-child(2) .information__icon:before {
		content: "";
		display: none;
	}

	.information__icon {
		height: 50px;
	}

	.information__icon img {
		width: 44px;
		height: 44px;
	}

	.content-information__subtitle {
		line-height: 16px;
		margin: 0px 0px 10px 0px;
	}

	.content-information__image {
		margin: 0px 0px 6px 0px;
	}

	.mainslider__image {
		border: 1px solid #ffffff;
	}
}

@media (max-width: 466px) {
	.team__title {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 276px;
		flex: 0 0 276px;
	}
}

@media (max-width: 390px) {
	.team__title {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 258px;
		flex: 0 0 258px;
	}
}

@media (max-width: 356px) {
	.team__title {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 235px;
		flex: 0 0 235px;
	}
}
@supports (-webkit-appearance: none) {
	.header__column:first-child {
		background-image: url("../img/header/top/01.svg");
	}
	.header__navigation {
		background-image: url("../img/header/top/02.svg");
	}
	.background__icon {
		background-image: url("../img/content_top/02.webp");
	}
	.background__icon img {
		background-image: url("../img/content_top/Ellipse_2.svg");
	}
	.mainslider__box {
		background-image: url("../img/team/002.webp");
	}
}

@media (min-width: 767.98px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (min-width: 991.98px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (min-width: 992px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 1255px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 1005px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 991.98px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 891px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 767.98px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 600px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 479px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 479.98px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 466px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 390px) {
	@supports (-webkit-appearance: none) {
	}
}

@media (max-width: 356px) {
	@supports (-webkit-appearance: none) {
	}
}
